################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchoolFee/.vs/SchoolFee/v16
/SchoolFee/SchoolFee.Web/obj/Debug/netcoreapp2.1
/SchoolFee/SchoolFee.Web/bin/Debug/netcoreapp2.1
/SchoolFee/SchoolFee.Web/obj
